VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x3f
 FILEFLAGS 0x0
 FILEOS 0x40004
 FILETYPE 0x1
 FILESUBTYPE 0x0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName" "Neofilisoft"
            VALUE "FileDescription" "FeReader - PDF & EPUB Reader"
            VALUE "FileVersion" "1.0.0"
            VALUE "InternalName" "Fereader"
            VALUE "LegalCopyright" "2025 Neofilisoft"
            VALUE "OriginalFilename" "Fereader.exe"
            VALUE "ProductName" "FeReader"
            VALUE "ProductVersion" "1.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END